<ion-view view-title="favor">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
	</ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div id="list">

    <div ng-controller="FavorsCtrl">
	    <a class="item item-avatar" href="#">
	      <img src="img/weikun.jpg">
	      <h2>{{favor1[4].username}}</h2>
	      <p>Toothbrush<br>
		  <i class="icon ion-location"></i>
		  1069 Morewood Ave</p>

	    </a>
    </div>

    <div class="button-bar">
	  <a class="button button-energized" href="#/app/favors" ng-click="favorDel()">Confirm</a>
	  <a class="button button-energized" href="#/app/favors" ng-click="favorDel()">Cancel</a>
	</div>
	<div id = "cardCheckout">
	<form action="/charge" method="POST">
		<div ng-include="templateId.html"></div>
	</form>

	</div>
  </ion-content>
</ion-view>



 